body {
  background-color: #333333;
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 50%), url(photos//14.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
}

header {
  background-color: #ff7200;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff7200;
  color: #fff;
  padding: 24px;
}
header h1 {
  margin: 0;
  padding: 10px;
}
header a.logout-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.main {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  backdrop-filter: blur(10px);
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.account-info {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.info-item {
  margin-bottom: 20px; /* Adjust the margin as needed */
}
.account-info h2{
  color:#000
}
.label {
  font-weight: medium; /* Make the labels bold if desired */
  display: inline-block;
  width: 220px; /* Adjust the width to control spacing */
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #000;
}

/* Additional styling for values if needed */

.value {
  font-size: 20px;
  font-weight: bold;
  color: #0074a9;
  /* Add any specific styling for the values here */
}

h1 {
  font-size: 28px;
  color: #333;
}

p.success-message {
  /* color: #09ff00; */
  color: #0074a9;
  font-size: 20px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #ff7200;
  color: #fff;
}
