body {
    background-color: #333333;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 50%), url(photos//14.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
    
}

header {
    background-color: #ff7200;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7200;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  header a.logout-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-top: auto;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7200;
    color: #fff;
    padding: 20px;
  }
  .top-links a {
    display: inline-block; /* Display the links side by side */
    margin-right: 20px; /* Add some spacing between the links */
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Text color for links */
  }
  .top-links a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  header a {
    color: #333;
  }
.main {
    max-width: 900px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px; 
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    
}

h1 {
    font-size: 32px;
    color: #333;
}
h2 {
    font-size: 28px;
    color: #333;
}
form {
    margin-top: 20px;
    
}

label {
    font-size: 18px;
    color: #555;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 95% ;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    background-color: #ff9536;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 18px;
}

button:hover {
    background-color: #ff7200;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #ff7200;
    color: #fff;
}
select {
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95% ;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.required::after {
    content: "*";
    color: red;
}

/* Style for the error message */
.error-message {
  color: red;
  font-size: 20px;
  margin-top: 10px;
}
/* Add this CSS to your external CSS file or inside a <style> tag in your HTML */

.flashes-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: auto;           /* Use the full viewport height */
}
.flashes {
    list-style: none;
    font-size: 20px;
    padding: 0;
    text-align: center; /* Center the list items horizontally */
}
