/* CSS for the Result Page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 50%), url(photos//14.jpg);
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7200;
    color: #fff;
    padding: 20px;
}

.back-link a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.back-link a:hover {
    text-decoration: underline;
}

header h1 {
    margin: 0;
}

header h2 {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 90%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    color: #0074a9;
    font-size: 26px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #ff7200;
    color: #fff;
}

/* CSS for the result content */
.result-content {
    text-align: center;
}

.result-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.result-box {
    background-color: #0074a9;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.result-box p {
    font-size: 18px;
    margin: 10px 0;
}

/* Add any additional styling as needed for your result content */
