<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_acc.css') }}">
    <link rel="icon" href="static\photos\icon1.ico" type="image/x-icon"> 
    <title>Account Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome, {{ account_data[7] }}</h1>
        <div class="top-links">
            <a href="{{ url_for('payment_and_transfer') }}" class="logout-link" ><h3>Payment And Transfer</h3></a>
            <a href="{{ url_for('qr_code') }}" class="logout-link" ><h3>QR Code</h3></a>
            <a href="{{ url_for('logout') }}" class="logout-link"><h3>Logout</h3></a>
        </div>
    </header>        
    <main>
        <section class="account-info">
            <h2>Common User Details</h2>
            <div class="info-item">
                <span class="label">User ID</span>
                <span class="value"><b>:</b> {{ account_data[1] }}</span>
            </div>
            <div class="info-item">
                <span class="label">Account Holder</span>
                <span class="value"><b>:</b> {{ account_data[7] }}</span>
            </div>
            <div class="info-item">
                <span class="label">Verification ID No.</span>
                <span class="value"><b>:</b> {{ account_data[6] }}</span>
            </div>
            <div class="info-item">
                <span class="label">Contact Info</span>
                <span class="value"><b>:</b> {{ account_data[8] }}</span>
            </div>
            <div class="info-item">
                <span class="label">Mail ID</span>
                <span class="value"><b>:</b> {{ account_data[9] }}</span>
            </div>
            <div class="info-item">
                <span class="label">Address</span>
                <span class="value"><b>:</b> {{ account_data[10] }}</span>
            </div>
        </section>
        
        <section class="account-details">
            {% if bank_accounts %}
                <h2>Account Details</h2>
                {% for account in bank_accounts %}
                    <div class="bank-account">
                        <div class="info-item">
                            <span class="label">Bank Name</span>
                            <span class="value"><b>:</b> {{ account['bank_name'] }}</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Account ID</span>
                            <span class="value"><b>:</b> {{ account['account_id'] }}</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Account Number</span>
                            <span class="value"><b>:</b> {{ account['account_number'] }}</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Account Type</span>
                            <span class="value"><b>:</b> {{ account['account_type_name'] }}</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Password</span>
                            <span class="value"><b>:</b> {{ account['password'] }}</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Account Opening Date</span>
                            <span class="value"><b>:</b> {{ account['account_opening_date'] }}</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Account Balance</span>
                            <span class="value"><b>:</b> &#8377;{{ account['balance'] }}</span>
                        </div>
                    </div>
                        {% if not loop.last %}
                        <hr> <!-- Add a horizontal line between accounts, except for the last one -->
            {% endif %}
                        {% endfor %}
            {% else %}
            <div class="error">
                <h3>No bank accounts found for this user.</h3>
            </div>
            {% endif %}
            </section>
            <section class="total-balance"> 
                <h2>Total Balance</h2>
                <p class="balance-amount"> &#8377;{{ total_balance }}</p>
            </section>
        
        <section class="transactions">
            <h2>Transaction History</h2>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Account ID</th>
                        <th>Bank</th>
                        <th>Recipient's Name</th>
                        <th>Description</th>
                        <th>Recipient Type</th>
                        <th>Phone/Account No.</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Python/Flask  -->
                    {% for transaction in transaction_data %}
                    <tr>
                        <td>{{ transaction[3] }}</td>
                        <td>{{ transaction[0] }}</td>
                        <td>{{ transaction[2] }}</td>
                        <td>{{ transaction[4] }}</td>
                        <td>{{ transaction[5] }}</td>
                        <td>{{ transaction[6] }}</td>
                        <td>{{ transaction[7] }}</td>
                        <td>{{ transaction[8] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Banking System</p>
    </footer>
</body>
</html>
