<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_contact_us.css') }}">
    <title>Contact Us - Fusion Bank</title>
    <!-- <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script> -->
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
 <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header>
        <h1>Contact Us</h1>
        <a href="{{ url_for('index') }}" class="logout-link"><h3>Return to Dashboard</h3></a>
    </header>
    <main>
    <div class="contact-section">
        <h2>Contact Information</h2>
            <p>
                <font size="+2"><b>To get your Account Balance</b></font><br>
                Call: 1860-419-5555<br>
                SMS BAL to 56161600 or +919951860002<br><br>
                <font size="+2"><b>To get your Mini Statement</b></font><br>
                Call: 1860-500-5555<br>
                SMS MINI to 56161600 or +919951860002<br><br>
                <font size="+2"><b>Email</b></font><br>
                Send us an email at <b>support@onlinebanking.com</b> and we'll get back to you within 24 hours.<br><br>
                <font size="+2"><b>Live Chat</b></font><br>
                Chat with one of our customer support specialists in real-time by clicking on the live chat button.
            </p>
            <font size="+2"><b>Connect with us</b></font><br>
            <div class="icons">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
            </div>
    </div>
</main>
    <footer>
        <p>&copy; 2023 Fusion Bank</p>
    </footer>
    
</body>
</html>
