<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_retrieved_credentials.css') }}">
    <link rel="icon" href="static/photos/icon1.ico" type="image/x-icon">
    <title>Result</title>
</head>
<body>
    <header>
        <h1>Result Page</h1>
        <a href="{{ url_for('index') }}" class="back-link"><h3>Back to Home</h3></a>
    </header>
    <main>
        <section class="result-content">
            <h2>Retrieved Information</h2>
            <!-- <div class="result-box">
                {% if user_id_result %}
                <p><strong>User ID:</strong> {{ user_id_result }}</p>
                {% endif %}
            </div>
             <div class="result-box">
                {% if password_result %}
                <p><strong>Password:</strong> {{ password_result }}</p>
                {% endif %}
            </div> -->
            <p id="{{ password_result }}">{{ password_result }}</p>
            <p id="{{ user_id_result }}">{{ user_id_result }}</p>

            <!-- <div class="center-content">
                <div class="content-box">
                    {% if user_id_result %}
                    <p id="user_id_result">{{ user_id_result }}</p>
                    {% endif %}
                </div>
                <div class="content-box">
                    {% if password_result %}
                    <p id="password_result">{{ password_result }}</p>
                    {% endif %}
                </div>
            </div> -->
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Banking System</p>
    </footer>
</body>
</html>
